:root {
  --darkcoloura: #22577a;
  --medcoloura: #38a3a5;
  --medcolourb: #57cc99;
  --lightcolourb: #80ed99;
  --lightercolourb: #c7f9cc;
}

body {
  margin: auto;
  padding: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.intro {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: var(--darkcoloura);
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: var(--medcolourb);
}

header h1 {
  text-align: center;
  color: var(--darkcoloura);
  text-decoration: underline;
  line-height: 120%;
}

nav {
  list-style: none;
  padding: 10px;
  flex-direction: row;
}

.keep-score {
  color: var(--darkcoloura);
  font-size: 20px;
  padding: 5px;
}

h1 {
  padding: 20px;
  font-size: 30px;
  color: var(--darkcoloura);
}

h2 {
  font-size: 24px;
  padding: 10px;
  color: var(--darkcoloura);
}

.start-button {
  text-align: center;
  padding: 20px;
}

.start {
  font-size: 20px;
  font-weight: bold;
  color: var(--darkcoloura);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: var(--medcolourb);
  border-radius: 30px;
  border: none;
}

.start:hover {
  background-color: var(--lightcolourb);
  /* transition: ease-in-out; */
}
.quiz {
  display: flex;
  flex-direction: column;
  /* display: none; */
}

.answers {
  list-style-type: none;
  margin: 20px;
}

.answer-text {
  padding: 4px 10px;
  background-color: var(--lightercolourb);
  border-radius: 10px;
  line-height: 120%;
}

.answer-text:hover {
  background-color: var(--medcolourb);
}

/* Highscore page styles*/

.highscore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#score-table {
  padding: 0px 0px 20px 0px;
}

.high-score-button {
  display: flex;
  flex-direction: row;
}

.high-score-buttons a:hover {
  background-color: var(--lightcolourb);
}
/* Submit score styles*/

.highscore-page-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highscore-page-submit p {
  font-size: 18px;
}

.highscore-page li {
  background-color: var(--lightercolourb);
  padding: 5px 20px;
  font-size: 18px;
  margin: 20px 40px;
}
.high-form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.button,
.high-score-buttons a {
  border: none;
  background-color: var(--medcolourb);
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--darkcoloura);
  padding: 8px 20px;
  background-color: var(--medcolourb);
  border-radius: 20px;
  text-decoration: none;
}

.form-submit:hover {
  background-color: var(--lightcolourb);
}
.high-form label {
  margin: 10px;
  font-size: 20px;
  color: var(--darkcoloura);
}

.high-form input {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px dotted var(--darkcoloura);
  outline-color: var(--medcolourb);
}

.highscore {
  padding: 20px;
  margin: auto;
}

.highscore-page p {
  font-size: 30px;
  color: var(--darkcoloura);
}

/* Hidden sections */

.hidden {
  display: none;
}
